{% extends "base.html" %}

{% block content %}
<div class="welcome">
    <h1>Gamestation</h1>
    <p>Hey {{ user }}, Lust auf eine Runde LAMA?</p>
    <p>Sag mir zuerst deinen Namen.</p>
    <form method="post">
        <!--
        <input name="title" id="title" type="text" placeholder="Dein Name" value="{{ request.form['title'] }}" required>
        -->
        <input type="submit" value="So heiße ich!">
    </form>
    <br>
    <button id="get-button">GET something</button>
    <button id="post-button">POST something</button>
</div>
{% endblock %}
